<div class="cards">

    <div class="container">

        <div *ngFor="let item of productos"  class="card">
            <img src="{{ item.img }}">
            <h4>Nombre: {{ item.nombre }}</h4>
            <h5>{{ item.nombre }}</h5>
            <h4>Precio: {{ item.precio }}</h4>

            <p>Descripcion: {{ item.descripcion }}</p>
            <div class="container fluid">
                <button (click)="comprar(item)" [disabled]="!idCliente" class="btn btn-success btn-sm">Comprar</button>
            </div>
            <hr>
        </div>

    </div>
</div>