<nav id="sidebar" style="height: 100%vh;">

    <div class="custom-menu d-none">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" >
        <div class="user-logo m-2">
            <img class="img-fluid " src="https://previews.123rf.com/images/telos9/telos91610/telos9161000003/66273770-la-fachada-de-la-construcci%C3%B3n-de-empresas-modernas-al-atardecer-un-cielo-azul-como-fondo.jpg" alt="">
            <br>
            <h3>{{nombre}} </h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="">
            <a [routerLink]="['/dashboardEmpresa/bancoImg']"  routerLinkActive="active"><span class="fa fa-home mr-3"></span>Banco Imagenes</a>
        </li>
        <li>
            <a [routerLink]="['/dashboardEmpresa/administrarPages']"  routerLinkActive="active"><span class="fa fa-trophy mr-3"></span>Administrar paginas</a>
        </li>
        <li>
            <a [routerLink]="['/dashboardEmpresa/productos']"  routerLinkActive="active"><span class="fa fa-cog mr-3"></span>Productos</a>
        </li>
        <li>
            <a [routerLink]="['/dashboardEmpresa/categorias']"  routerLinkActive="active"><span class="fa fa-cog mr-3"></span>Categorias</a>
        </li>
        <li>
            <a [routerLink]="['/loginempresa']"  routerLinkActive="active"><span class="fa fa-cog mr-3"></span>Cerrar Sesion</a>
        </li>
    </ul>

</nav>