
<div class="fondo" style="background-image: url(../../../assets/img/fondologin.jpg);" >
    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
          <div class="textcontent">
            <p class="title">¿No tienes una cuenta?</p>
            <p>¡Registrate de manera gratuita!.</p>
            <a [routerLink]="['/']" class="btn  btn-light " >Comenzar</a>
          </div>
        </div>
      </div>
      <!-- backbox -->
  
      <div class="frontbox ">
        <div class="login">
          <h2>iniciar sesión</h2>
          <div class="inputbox">
            <input type="text" name="email" placeholder="  EMAIL">
            <input type="password" name="password" placeholder="  PASSWORD">
          </div>
          <p>¿Olvidaste tu contraseña?</p>
          <button class="btn-primary">iniciar sesión</button>
        </div>

  
      </div>
      <!-- frontbox -->
    </div>


</div>