
<div class="fondo" style="background-image: url(../../../assets/img/fondologin.jpg);" >
    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
          <div class="textcontent">
            <p class="title">¿No tienes una cuenta?</p>
            <p>¡Registrate de manera gratuita!.</p>
            <a [routerLink]="['/registroCliente']" routerLinkActive="active"  class="btn  btn-light " >Comenzar</a>
          </div>
        </div>
      </div>
      <!-- backbox -->
  
      <div class="frontbox ">
        <div class="login">
          <h2>iniciar sesión</h2>
          <div class="inputbox">
            <input [(ngModel)]="cliente.correo"  type="email"  name="email" placeholder="Ingrese su email">
           
            <input [(ngModel)]="cliente.contrasenia" type="password" name="password" placeholder="Ingrese su contraseña">
          </div>
          <p>¿Olvidaste tu contraseña?</p>
          <button (click)="login()" class="btn-primary">iniciar sesión</button>
        </div>

  
      </div>
      <!-- frontbox -->
    </div>


</div>