<!-- Image and text -->
<nav class="navbar bg bg-dark text-white">
    <a class="navbar-brand text-white" href="#">
        <img src="../../../assets/img/LOGO DE LA CATHERINA JPG copia.png" width="30" height="30"
            class="d-inline-block align-top" alt="">
    </a>
</nav>

<app-navbarpaginas [paginas]="paginas"></app-navbarpaginas>

<app-imagen *ngIf="imagen"></app-imagen>

<app-galeria *ngIf="galeria" [data]="galeria" ></app-galeria>

<app-loginP *ngIf="loginE"></app-loginP>





<app-footerpaginas></app-footerpaginas>