<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">G-Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0"><br>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="fondo" style="background-image: url(../../../assets/img/fondohead.jpg);" >
    <div class="p-5" style="margin-left: auto; margin-right: auto; width: 400px;">
        <br><br><br><br><br><br><br><h1 >G-service</h1>
        <p>¿Deseas crear un sitio web de forma sencilla? G-service te ofrece facilidad para crear tu propia pagina web.</p>
        <a [routerLink]="['/login']" class="btn btn-outline-success" >Comenzar</a>

    </div>
</div>

  

<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Nuestros Servicios</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Ofrecemos facilidad de generar codigo para crear tu propio sitio web de manera facil y sencilla.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h3>Shorcuts</h3>
                    <p class="description">
                        shorcuts personalizados de manera sencilla.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <h3>Estilos CSS</h3>
                    <p class="description">Podras usar estilos css para personalizar tu pagina.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-music"></i>
                    </div>
                    <h3>Imagenes</h3>
                    <p class="description">Agregar imagenes de manera sencilla para darle vida a tu sitio web.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>¿Quienes somos?</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Somos una empresa con el fin de ofrecer facilidad al usuario para poder crear sus sitios web de manera facil y segura.</p>
                    </div>
                </div>

<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container margin-left:auto margin-right:auto">
        <div class="row ">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title text-center">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Home</a></li>
                            
                            <li>
                                <a href="#">About Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title text-center"> Ayuda y Soporte</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Contactanos</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title text-center">Siguenos</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-google-plus-square"></i> Google+
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            ©
            <script> document.write(new Date().getFullYear()) </script> Made with love
        </div>
    </div>
</footer>