<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.flaticon.com/icons/png/512/17/17004.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <div>
      <input type="text" value="skype@skype.es" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" value="asd.129" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>