<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/LOGO DE LA CATHERINA JPG copia.png" width="70" height="70"
    class="d-inline-block align-top" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0"><br>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="card abs-center p-1 ">
  <h2 class="text-center">¡Registra tu empresa!</h2>
  <div class="card  p-1 shadow-lg">
    <div class="card-body">
      <div>
        <h4>
          <p class="text-center text-primary">Ingreses sus datos</p>
        </h4>
        <div class="form-row">
          <div class="col-12">
            <label for="inputNameCliente">Nombre Empresa</label>
            <input [(ngModel)]="empresa.nombre" type="name" class="form-control form-control-lg" placeholder="Nombre">
         
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input [(ngModel)]="empresa.correo" type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input [(ngModel)]="empresa.contrasenia" type="password" class="form-control"placeholder="Password">
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="inputZip">RTN</label>
            <input [(ngModel)]="empresa.rtn" type="text" class="form-control" >
          </div>
          <div class="form-group col-md-6">
            <label for="inputZip">Descripcion</label>
            <input [(ngModel)]="empresa.descripcion" type="text" class="form-control" >
          </div>
          <div class="form-group col-md-3">
            <label for="inputCity">Direccion</label>
            <input [(ngModel)]="empresa.direccion" type="text" class="form-control">
          </div>
        
          <div class="form-group col-md-3">
            <label for="inputState">Planes</label>
            <select [(ngModel)]="empresa.plan" class="form-control">
              <option *ngFor="let item of planes" value="{{item.nombrePlan}}">{{item.nombrePlan}}</option>
            </select>
          </div>

        </div>

    
        <button (click)="guardar()" type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-primary">Cancelar</button>
      </div>
    </div>
  </div>
</div>