
<div class="fondo" style="background-image: url(../../../assets/img/pexels-photo-1076885.jpg);" >
    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
          <div class="textcontent">
            <h2 class="h2" color="white">¡Bienvenido! <img src="../../../assets/img/LOGO DE LA CATHERINA JPG copia.png"  class="img-fluid" style="width: 50%; height: 50%; align-items: center;" alt="">
            </h2>
            
                    
          </div>
        </div>
      </div>
      <!-- backbox -->
  
      <div class="frontbox ">
        <div class="login">
          <h2>iniciar sesión</h2>
          <div class="alert alert-danger" *ngIf="error" role="alert">
            Datos incorrectos
          </div>
          <div class="inputbox">
            <input [(ngModel)]="admin.correo" type="text" name="email" placeholder="  email@gservice.com">
            <input [(ngModel)]="admin.contrasenia" type="password" name="password" placeholder="  contraseña">
          </div>
          <p>¿Olvidaste tu contraseña?</p>
          <button (click)="login()" class="btn-primary">iniciar sesión</button>
        </div>

  
      </div>
      <!-- frontbox -->
    </div>


</div>